<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="paused" default="false" doc="Start gazebo in paused mode" />

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/>
    <arg name="gui" value="true"/>
    <arg name="paused" value="$(arg paused)"/>
  </include>


  <!-- Lanzar Kinect en una posición y orientación fija -->
    <arg name="robot_name" default="kinect" />
    <arg name="x" default="1.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.75" />
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0.5"/>
    <arg name="yaw" default="3.14159" />
    <arg name="sdf_robot_file" value="$(find irb120_robotiq85_gazebo)/kinect/model.sdf" />
    

    <node name="$(arg robot_name)_spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-file $(arg sdf_robot_file) -sdf -x $(arg x) -y $(arg y) -z $(arg z)  -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg robot_name)"/>

</launch>
